.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 50%;
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.8);
    border-radius: 30px;
}


.LabelDiv{
    width: 100%;
}
.LabelDiv>p-floatlabel{
    width: 100%;
}
.LabelDiv>p-floatlabel>input{
    margin:0.2%;
    width: 100%;
}

.LoginDiv{
    width: 60%;
}

.Gombok{
    margin: 0 auto;
    align-items: center;
    display: flex;
    width: 48%;
    justify-content: space-around;
}