<div class="container mt-6 pt-6 pb-6 flex justify-center">
    <p-card class="login-card">
        <ng-template #header>
            <div class="p-card-header">
                <h1>Login</h1>
            </div>
        </ng-template>

        <div class="LoginDiv mt-4">
            <div class="LabelDiv">
                <p-floatlabel variant="on" class="mb-3 mt-1 w-full">
                    <input pInputText id="on_label" [(ngModel)]="user.email" autocomplete="off" inputStyleClass="w-full" styleClass="w-full" />
                    <label for="on_label">Email</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="mb-3 w-full" >
                    <p-password [(ngModel)]="user.password" inputId="on_label" inputStyleClass="w-full" styleClass="w-full" [feedback]="false"/>
                    <label for="on_label">Password</label>
                </p-floatlabel>
            </div>
        </div>

        <div class="Gombok mt-4">
            <div class="flex items-center gap-1 mb-3">
                <p-checkbox [(ngModel)]="rememberMe" [binary]="true" inputId="remember" />
                <label for="remember" class="ml-2">Remember me</label>
            </div>

            <div class="flex justify-center gombDiv">
                <p-button label="Login" size="large" (click)="login()"/>
            </div>
        </div>
    </p-card>
</div>