.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.LabelDiv{
    width: 100%;
}
.LabelDiv>p-floatlabel{
    width: 100%;
}
.LabelDiv>p-floatlabel>input{
    margin:0.2%;
    width: 100%;
}

.LoginDiv{
    width: 30%;
}

.Gombok{
    margin: 0 auto;
    align-items: center;
    display: flex;
    width: 48%;
    justify-content: space-around;
}