.container{
    width: 95%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 0.8%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: red;
}
h1{
    align-items: center;
    text-align: center;
}

