:host ::ng-deep {
    .p-scroller-viewport {
        flex: none;
    }
}



.container{
    width: 95%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 0.8%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h1{
    align-items: center;
    text-align: center;
}

.BoxCardsDiv{
    width: 100%;
    margin-top: 2%;
    box-shadow: 2px 8px 15px 10px rgb(180, 180, 180);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: -0px;
    border-radius: 40px;
}
.BoxCardsDiv>div>p-card{
    box-shadow: 2px 8px 15px 10px rgb(214, 214, 214);
    border-radius: 10px;
    padding-top: 5%;
}

.cardImg{
    width: 100%;
    height: 40vh;
}
.knobDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.cardList{
    margin: 0;
    padding-left: 1rem;
    text-align: left;
    list-style-position: outside;
}

.newBoxContainer{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(214, 214, 214);
    border-top: 2px solid rgb(214, 214, 214);

}
.newBoxName{
    margin-bottom: 5%;
}
.newBoxName>p-floatlabel{
    margin-bottom: 5%;
}
.CalcDiv{
    width: 50%;
    height: 100%;
    padding: 2%;
    background-color: rgb(250, 248, 248);
    border-radius: 10px;
}

p-inputnumber{
    text-align: center;
}

.BoxSizeSelector{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 7%;
    transition: 0.5s
}
.BoxSizeSelector>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
    width: 20%;
    padding-top: 2rem;
    height: 100%;
    transition: 0.3s;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
}
.BoxSizeSelector>div:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgb(214, 214, 214);
}
#small-box{
    font-size: small;
}
#medium-box{
    font-size: medium;
}
#large-box{
    font-size: large;
}

.contentDiv{
    width: 50%;
    padding: 2%;
    padding-top: 0%;
    border-left: 0.5px solid rgb(214, 214, 214);
}

.newBoxNumberCTRL{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    margin-bottom: 8%;
}
.newBoxButtonDiv{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.newBoxButtonDiv>p-button{
    width: 40%
}