<h1>My boxes</h1>
<div class="container">
    <div class="card">
    <p-toolbar>
        <ng-template #start>
            <p-button icon="pi pi-plus" class="mr-2" (click)="AddItemMode = false; showDialog()" text severity="secondary" />
        </ng-template>
        <ng-template #center>
            <p-iconfield iconPosition="left" >
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" />
            </p-iconfield>
        </ng-template>
    </p-toolbar>
</div>

<div class="card flex justify-center">
    <hr>
    <p-dialog [header]="AddItemMode ? 'Add item to box' : 'New box'" [modal]="true" [(visible)]="visible" [style]="{ width: '60rem', height: '70rem' }">
        <div class="newBoxContainer">
            <div class="CalcDiv">
                <h1>Space</h1>
                <div class="card flex justify-center knobDiv">
                    <p-knob [(ngModel)]="BoxMaxCap" valueTemplate="{value}%" [size]="200" readonly="true"/>
                </div>
                <h3>
                    Box weight capacity: {{box.maxWeightKg}} kg
                </h3>
                <h3>
                    Box dimensions: {{box.widthCm}} x {{box.heightCm}} x {{box.lengthCm}} cm
                </h3>
                <hr>
                
                <h3>Box content</h3>
                <div class="card">
                <p-table
                    [value]="boxItems"
                    [scrollable]="true"
                    scrollHeight="300px"
                    [tableStyle]="{'min-width': '5rem'}">
                        <ng-template #header>
                            <tr>
                                <th>Name</th>
                                <th>Dimensions</th>
                                <th>Weight</th>
                                <th>Qty</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-item>
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.dimensions }}</td>
                                <td>{{ item.weight }}</td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="4" style="text-align: center; padding: 2rem; color: #888;">
                                    <i class="pi pi-inbox" style="font-size: 1.5rem; margin-bottom: 0.5rem; display: block;"></i>
                                    No items in this box yet
                                </td>
                            </tr>
                        </ng-template>
                </p-table>
                </div>
                

            </div>
            <div class="contentDiv">
                <div class="newBoxName">
                    <h1>Create a new box</h1>
                    <p-floatlabel variant="on">
                        <input pInputText id="on_label" [(ngModel)]="box.name" autocomplete="off" class="w-full" [disabled]="AddItemMode"/>
                        <label for="on_label">Box name</label>
                    </p-floatlabel>
                    <p-floatlabel variant="on">
                        <input pInputText id="on_label" [(ngModel)]="box.note" autocomplete="off" class="w-full h-full" [disabled]="AddItemMode"/>
                        <label for="on_label">Box description</label>
                    </p-floatlabel>
                    <p-inputnumber [(ngModel)]="box.maxWeightKg" [showButtons]="true" [disabled]="AddItemMode" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" />  
                    <div class="BoxSizeSelector">
                        <div
                            role="button"
                            [class.disabled]="AddItemMode"
                            [attr.aria-disabled]="AddItemMode"
                            [attr.tabindex]="!AddItemMode ? 0 : -1"
                            (click)="!AddItemMode && selectBoxSize('small')"
                            class="Smallbox">
                            <i class="pi pi-box" id="small-box"></i>
                            <h6><i>Small box</i></h6>
                        </div>
                        <div
                            role="button"
                            [class.disabled]="AddItemMode"
                            [attr.aria-disabled]="AddItemMode"
                            [attr.tabindex]="!AddItemMode ? 0 : -1"
                            (click)="!AddItemMode && selectBoxSize('medium')"
                            class="Mediumbox">
                            <i class="pi pi-box" id="medium-box"></i>
                            <h6>Medium box</h6>
                        </div>
                        <div
                            role="button"
                            [class.disabled]="AddItemMode"
                            [attr.aria-disabled]="AddItemMode"
                            [attr.tabindex]="!AddItemMode ? 0 : -1"
                            (click)="!AddItemMode && selectBoxSize('large')"
                            class="Largebox">
                            <i class="pi pi-box" id="large-box"></i>
                            <h6><b>Large box</b></h6>
                        </div>
                    </div>
                </div>

                


                <div class="newBoxContent">
                    <hr>
                    <div class="NewOrOldDiv">
                    <h1>Add new item</h1>
                        <div class="card flex justify-center NewOrDropDSwitchDiv">
                            <i class="pi pi-plus"></i>
                            <p-toggleswitch [(ngModel)]="MakeNewItem" [disabled]="!AddItemMode"/>
                            <i class="pi pi-align-left"></i>
                        </div>
                    </div>

                    <!-- Dropdown to select existing item -->
                    <div *ngIf="AddItemMode" class="existing-item-select">
                        <p-floatlabel *ngIf="MakeNewItem" variant="on">
                            <p-select
                                id="item_select"
                                [options]="items"
                                [(ngModel)]="selectedItem"
                                optionLabel="name"
                                [filter]="true"
                                filterBy="name"
                                [showClear]="true"
                                placeholder="Select an existing item"
                                class="w-full"
                                (onChange)="onItemSelected($event)"
                                [style]="{ width: '100%' }">
                                <ng-template let-item pTemplate="item">
                                    <div class="flex items-center gap-2">
                                        <i class="pi pi-box"></i>
                                        <div>
                                            <span>{{ item.name }}</span>
                                            <small class="ml-2" style="color: #888;">{{ item.widthCm }}x{{ item.heightCm }}x{{ item.lengthCm }}cm · {{ item.weightKg }}kg</small>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-select>
                            <label for="item_select"></label>
                        </p-floatlabel>
                    </div>

                    <div>
                        <p-floatlabel variant="on">
                            <input pInputText id="on_label" [(ngModel)]="item.name" autocomplete="off" class="w-full h-full" [disabled]="!AddItemMode || MakeNewItem"/>
                            <label for="on_label">Item name</label>
                        </p-floatlabel>
                        <br>
                        <p-floatlabel variant="on">
                            <input pInputText id="on_label" [(ngModel)]="item.description" autocomplete="off" class="w-full h-full" [disabled]="!AddItemMode || MakeNewItem"/>
                            <label for="on_label">Item description</label>
                        </p-floatlabel>
                        <br>
                        <p-autocomplete
                            [disabled]="!AddItemMode || MakeNewItem"
                            [(ngModel)]="item.category"
                            [dropdown]="true"
                            [suggestions]="filteredCategories"
                            (completeMethod)="search($event)"
                            placeholder="Select or type a category"
                            class="w-full"
                            [forceSelection]="false"
                        />
                        <div class="newBoxNumberCTRL">
                            <div class="card flex justify-center">
                                <div class="IconAndNumber">
                                <p-inputnumber [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" [(ngModel)]="item.weightKg" [inputStyle]="{ width: '3rem' }" [disabled]="!AddItemMode || MakeNewItem">
                                    <ng-template pTemplate="incrementbuttonicon">
                                        <span class="pi pi-plus"></span>
                                    </ng-template>
                                    <ng-template pTemplate="decrementbuttonicon">
                                        <span class="pi pi-minus"></span>
                                    </ng-template>
                                </p-inputnumber>
                                <i class="pi pi-briefcase"></i>
                                </div>
                            </div>

                            <div class="card flex justify-center">
                                <div class="IconAndNumber">
                                <p-inputnumber [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" [(ngModel)]="item.heightCm" [inputStyle]="{ width: '3rem' }" [disabled]="!AddItemMode || MakeNewItem">
                                    <ng-template pTemplate="incrementbuttonicon">
                                        <span class="pi pi-plus"></span>
                                    </ng-template>
                                    <ng-template pTemplate="decrementbuttonicon">
                                        <span class="pi pi-minus"></span>
                                    </ng-template>
                                </p-inputnumber>
                                <i class="pi pi-arrows-v"></i>
                                </div>

                            </div>

                            <div class="card flex justify-center">
                                <div class="IconAndNumber">
                                <p-inputnumber [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" [(ngModel)]="item.widthCm" [inputStyle]="{ width: '3rem' }" [disabled]="!AddItemMode || MakeNewItem">
                                    <ng-template pTemplate="incrementbuttonicon">
                                        <span class="pi pi-plus"></span>
                                    </ng-template>
                                    <ng-template pTemplate="decrementbuttonicon">
                                        <span class="pi pi-minus"></span>
                                    </ng-template>
                                </p-inputnumber>
                                <i class="pi pi-arrows-h"></i>
                                </div>
                            </div>

                            <div class="card flex justify-center">
                                <div class="IconAndNumber">
                                <p-inputnumber [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" aria-disabled="true" [(ngModel)]="item.lengthCm" [inputStyle]="{ width: '3rem' }" [disabled]="!AddItemMode || MakeNewItem">
                                    <ng-template pTemplate="incrementbuttonicon">
                                        <span class="pi pi-plus"></span>
                                    </ng-template>
                                    <ng-template pTemplate="decrementbuttonicon">
                                        <span class="pi pi-minus"></span>
                                    </ng-template>
                                </p-inputnumber>
                                <i class="pi pi-arrow-up-right-and-arrow-down-left-from-center"></i>
                                </div>

                            </div>
                    </div>
                    </div>
                    
                    <hr>
                    <div class="newBoxButtonDiv">
                        <p-button [disabled]="!AddItemMode" label="Clear" [raised]="true" (click)="clearForm()" severity="secondary" class="w-full"/>
                        <p-button [disabled]="!AddItemMode" label="Add item" [raised]="true" (click)="addItem()" severity="success" class="w-full"/>
                    </div>

                </div>


            </div>
        </div>
        <div class="newBoxButtonDiv">
            <p-button label="Cancel" [raised]="true" (click)="closeDialog()" severity="secondary" [style]="{width: '100%'}"/>
            <p-button *ngIf="!AddItemMode" label="Save" [raised]="true" (click)="saveBox()" severity="success" [style]="{width: '100%'}"/>
            <p-button *ngIf="AddItemMode" label="Add item to box" [raised]="true" (click)="addItemToBox()" severity="success" [style]="{width: '100%'}"/>
        </div>
    </p-dialog>
</div>

    <div class="BoxCardsDiv" >
        <div class="noBoxesDiv" *ngIf="NoBoxesFound">
            <img src="noBoxes.png" alt="" srcset="">
            <h1>No boxes found!</h1>
        </div>
            <div *ngFor="let box of BoxesList" class="mb-4 p-8 flex items-center justify-center">
                <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
                    <ng-template pTemplate="header">
                        <div class="card flex justify-center knobDiv">
                            <p-knob [ngModel]="weightPercentMap[box.id!] || 0" valueTemplate="{value}%"  [size]="200" readonly="true"/>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="title"> {{box.name}} </ng-template>
                    <ng-template pTemplate="subtitle"> {{box.note}} </ng-template>
                    <hr>
                    <h3>Box content</h3>
                    <p-table
                        [value]="boxItemsMap[box.id!] || []"
                        [scrollable]="true"
                        scrollHeight="200px"
                        [tableStyle]="{'min-width': '5rem'}">
                            <ng-template #header>
                                <tr>
                                    <th>Name</th>
                                    <th>Dimensions</th>
                                    <th>Weight</th>
                                    <th>Qty</th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-item>
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.dimensions }}</td>
                                    <td>{{ item.weight }}</td>
                                    <td>{{ item.quantity }}</td>
                                </tr>
                            </ng-template>
                    </p-table>
                <hr>
                <div *ngIf="box.code" class="qr-code-section flex flex-column align-items-center" style="text-align: center; padding: 1rem 0;">
                    <h3>Box QR Code</h3>
                    <qrcode [qrdata]="box.code!" [width]="150" [errorCorrectionLevel]="'M'" [colorDark]="'#ffffff'" [colorLight]="'#1a1a1a'" [margin]="1"></qrcode>
                    <small style="color: #888; margin-top: 0.5rem;">{{ box.code }}</small>
                </div>
                <hr>
                <ng-template pTemplate="footer">
                    <div class="flex gap-4 mt-1">
                        <p-button label="Delete" severity="danger" class="w-full" [outlined]="true" (click)="deleteBox(box.id!)" styleClass="w-full" />
                        <p-button label="Edit" (click)="editBoxes()" class="w-full" styleClass="w-full" />
                        <p-button label="Add" icon="pi pi-plus" (click)="openAddItem(box)" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
        
        
    </div>
</div>