<h1>My boxes</h1>
<div class="container">
    <div class="card">
    <p-toolbar>
        <ng-template #start>
            <p-button icon="pi pi-plus" class="mr-2" (click)="showDialog()" text severity="secondary" />
        </ng-template>
        <ng-template #center>
            <p-iconfield iconPosition="left" >
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" />
            </p-iconfield>
        </ng-template>
    </p-toolbar>
</div>

<div class="card flex justify-center">
    <hr>
    <p-dialog header="New box" [modal]="true" [(visible)]="visible" [style]="{ width: '60rem', height: '60rem' }">
        <div class="newBoxContainer">
            <div class="CalcDiv">
                <h1>Space</h1>
                <div class="card flex justify-center knobDiv">
                    <p-knob [(ngModel)]="value" valueTemplate="{value}%" [size]="200" readonly="true"/>
                </div>
                <h3>
                    Box weight cap.: {{box.maxWeightKg}} kg
                </h3>
                <hr>
                
                <h3>Box content</h3>
                <div class="card">
                <p-table
                    [value]="boxItems"
                    [scrollable]="true"
                    scrollHeight="180px"
                    [tableStyle]="{'min-width': '5rem'}">
                        <ng-template #header>
                            <tr>
                                <th>Name</th>
                                <th>Dimensions</th>
                                <th>Weight</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-item>
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.dimensions }}</td>
                                <td>{{ item.weight }}</td>
                            </tr>
                        </ng-template>
                </p-table>
                </div>
                

            </div>
            <div class="contentDiv">
                <div class="newBoxName">
                    <h1>Create a new box</h1>
                    <p-floatlabel variant="on">
                        <input pInputText id="on_label" [(ngModel)]="box.name" autocomplete="off" class="w-full"/>
                        <label for="on_label">Box name</label>
                    </p-floatlabel>
                    <p-floatlabel variant="on">
                        <input pInputText id="on_label" [(ngModel)]="box.note" autocomplete="off" class="w-full h-full"/>
                        <label for="on_label">Box description</label>
                    </p-floatlabel>
                    <p-inputnumber [(ngModel)]="box.maxWeightKg" [showButtons]="true"  buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" />  
                </div>
                <div class="newBoxContent">
                    <hr>
                    <h1>Add new item</h1>
                    <p-floatlabel variant="on">
                        <input pInputText id="on_label" [(ngModel)]="item.name" autocomplete="off" class="w-full h-full" disabled/>
                        <label for="on_label">Item name</label>
                    </p-floatlabel>
                    <div class="newBoxNumberCTRL">
                        <div class="card flex justify-center">
                            <p-inputnumber [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" [(ngModel)]="item.weightKg" [inputStyle]="{ width: '3rem' }" [disabled]="true">
                                <ng-template pTemplate="incrementbuttonicon">
                                    <span class="pi pi-plus"></span>
                                </ng-template>
                                <ng-template pTemplate="decrementbuttonicon">
                                    <span class="pi pi-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                        </div>

                        <div class="card flex justify-center">
                            <p-inputnumber [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" [(ngModel)]="item.heightCm" [inputStyle]="{ width: '3rem' }" [disabled]="true">
                                <ng-template pTemplate="incrementbuttonicon">
                                    <span class="pi pi-plus"></span>
                                </ng-template>
                                <ng-template pTemplate="decrementbuttonicon">
                                    <span class="pi pi-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                        </div>

                        <div class="card flex justify-center">
                            <p-inputnumber [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" [(ngModel)]="item.widthCm" [inputStyle]="{ width: '3rem' }" [disabled]="true">
                                <ng-template pTemplate="incrementbuttonicon">
                                    <span class="pi pi-plus"></span>
                                </ng-template>
                                <ng-template pTemplate="decrementbuttonicon">
                                    <span class="pi pi-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                        </div>

                        <div class="card flex justify-center">
                            <p-inputnumber [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" aria-disabled="true" [(ngModel)]="item.lengthCm" [inputStyle]="{ width: '3rem' }" [disabled]="true">
                                <ng-template pTemplate="incrementbuttonicon">
                                    <span class="pi pi-plus"></span>
                                </ng-template>
                                <ng-template pTemplate="decrementbuttonicon">
                                    <span class="pi pi-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                        </div>
                    </div>
                    <hr>
                    <div class="newBoxButtonDiv">
                        <p-button [disabled]="true" label="Clear" [raised]="true" (click)="clearForm()" severity="secondary" class="w-full"/>
                        <p-button [disabled]="true" label="Add item" [raised]="true" (click)="addItem()" severity="success" class="w-full"/>
                    </div>

                </div>


            </div>
        </div>
        <div class="newBoxButtonDiv">
            <p-button label="Cancel" [raised]="true" (click)="closeDialog()" severity="secondary" [style]="{width: '100%'}"/>
            <p-button label="Save" [raised]="true" (click)="saveBox()" severity="success" [style]="{width: '100%'}"/>
        </div>
    </p-dialog>
</div>

    <div class="BoxCardsDiv">
        
        <div class="mb-4 p-8 flex items-center justify-center">
            <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
                <ng-template pTemplate="header">
                    <div class="card flex justify-center knobDiv">
                        <p-knob [(ngModel)]="value" valueTemplate="{value}%" [size]="200" readonly="true"/>
                    </div>
                </ng-template>
                <ng-template pTemplate="title"> "Kártya cím" </ng-template>
                <ng-template pTemplate="subtitle"> Rék Dávid </ng-template>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <hr>
                <ul class="cardList text-left pl-4">
                    <li>Párna</li>
                    <li>Valami plüss</li>
                    <li>Kisóra</li>
                    <li>Lámpa</li>
                    <li>Miújság</li>
                </ul>
                <hr>
                <ng-template pTemplate="footer">
                    <div class="flex gap-4 mt-1">
                        <p-button label="Delete" severity="danger" class="w-full" [outlined]="true" styleClass="w-full" />
                        <p-button label="Edit" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>

<div class="mb-4 p-8 flex items-center justify-center">
            <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
                <ng-template pTemplate="header">
                    <div class="card flex justify-center knobDiv">
                        <p-knob [(ngModel)]="value" valueTemplate="{value}%" [size]="200" readonly="true"/>
                    </div>
                </ng-template>
                <ng-template pTemplate="title"> "Kártya cím" </ng-template>
                <ng-template pTemplate="subtitle"> Rék Dávid </ng-template>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <hr>
                <ul class="cardList text-left pl-4">
                    <li>Párna</li>
                    <li>Valami plüss</li>
                    <li>Kisóra</li>
                    <li>Lámpa</li>
                    <li>Miújság</li>
                </ul>
                <hr>
                <ng-template pTemplate="footer">
                    <div class="flex gap-4 mt-1">
                        <p-button label="Delete" severity="danger" class="w-full" [outlined]="true" styleClass="w-full" />
                        <p-button label="Edit" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>

        <div class="mb-4 p-8 flex items-center justify-center">
            <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
                <ng-template pTemplate="header">
                    <div class="card flex justify-center knobDiv">
                        <p-knob [(ngModel)]="value" valueTemplate="{value}%" [size]="200" readonly="true"/>
                    </div>
                </ng-template>
                <ng-template pTemplate="title"> "Kártya cím" </ng-template>
                <ng-template pTemplate="subtitle"> Rék Dávid </ng-template>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <hr>
                <ul class="cardList text-left pl-4">
                    <li>Párna</li>
                    <li>Valami plüss</li>
                    <li>Kisóra</li>
                    <li>Lámpa</li>
                    <li>Miújság</li>
                </ul>
                <hr>
                <ng-template pTemplate="footer">
                    <div class="flex gap-4 mt-1">
                        <p-button label="Delete" severity="danger" class="w-full" [outlined]="true" styleClass="w-full" />
                        <p-button label="Edit" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>

        
    </div>
</div>