<h1>Items</h1>
<div class="container">
    <div class="container">
    <div class="card">
    <p-toolbar>
        <ng-template #start>
            <p-button icon="pi pi-plus" class="mr-2" (click)="showDialog()" text severity="secondary" />
        </ng-template>
        <ng-template #center>
            <p-iconfield iconPosition="left" >
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" />
            </p-iconfield>
        </ng-template>
    </p-toolbar>

    <div class="card flex justify-center">
    <hr>

</div>
</div>
<div class="card">
    <p-table
    [value]="ItemsList"
    [tableStyle]="{ 'min-width': '80rem' }"
    >
        <ng-template pTemplate="caption">
            <div class="flex items-center justify-between">
                <span class="text-xl font-bold">Items</span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Weigth</th>
                <th>Width</th>
                <th>Height</th>
                <th>Length</th>
                <th>Image</th>
                <th>Operations</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr >
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.category}}</td>
                <td>{{item.weightKg}}</td>
                <td>{{item.widthCm}}</td>
                <td>{{item.heightCm}}</td>
                <td>{{item.lengthCm}}</td>
                <td>{{item.imagepath}}</td>
                <td>
                    <div class="ListGombok">
                        <p-button label='' icon="pi pi-box" severity="info" (click)="moveToBox()" />
                        <p-button label="" icon="pi pi-trash" severity="danger" (click)="deleteItem(item.id)" />
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer"></ng-template>
    </p-table>
</div>

</div>




    <p-dialog class="NewItemModal" header="New Item" [modal]="true" [(visible)]="visible" [style]="{ width: '60rem', height: '50rem' }">
        <h2>Create a new item!</h2>
        <p-floatlabel variant="on">
            <input pInputText id="on_label" [(ngModel)]="item.name" autocomplete="off"  width="w-full" class="w-full"/>
            <label for="on_label">Item name</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
            <input pInputText id="on_label" [(ngModel)]="item.description" autocomplete="off"  width="w-full" class="w-full"/>
            <label for="on_label">Item description</label>
        </p-floatlabel>
        <hr>
        <h2>Category</h2>
        <div class="HaromOszlop">

            <div class="card flex justify-center w-full ClassCatDropDown">
                            <p-button label="+" [raised]="true" severity="success" />
                <p-autocomplete [(ngModel)]="value" [dropdown]="true"  (completeMethod)="search($event)" class="w-full"/>
            </div>
        </div>
        <hr>
        <h2>Number inputs</h2>
        <div class="NumberInputsDiv">
            <div class="InputsAndLabels">
                <p-inputnumber [(ngModel)]="item.weightKg" [showButtons]="true"/>
                <p>Weigth</p>
            </div>
            <div class="InputsAndLabels">
                <p-inputnumber [(ngModel)]="item.heightCm" [showButtons]="true"/>
                <p>Height</p>
            </div>
            <div class="InputsAndLabels">
                <p-inputnumber [(ngModel)]="item.widthCm" [showButtons]="true"/>
                <p>Width</p>
            </div>
            <div class="InputsAndLabels">
                <p-inputnumber [(ngModel)]="item.lengthCm" [showButtons]="true"/>
                <p>Length</p>
            </div>
        </div>
        <hr>
        <div class="ButtonDiv">
            <p-button label="Cancel" [raised]="true" (click)="closeDialog()" severity="secondary" [style]="{width: '100%'}" class="w-full"/>
            <p-button label="Save" [raised]="true" (click)="saveItem()" severity="success" [style]="{width: '100%'}" class="w-full"/>
        </div>
    </p-dialog>

    

    <p-dialog class="NewItemModal" header="Move to box" [modal]="true" [(visible)]="visible2" [style]="{ width: '20rem', height: '10rem' }">
        <div class="card flex justify-center">
            <p-autocomplete  [dropdown]="true" [suggestions]="ItemsList" (completeMethod)="search($event)" />
        </div>
    </p-dialog>