.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.registerDiv{
    width: 25% ;
}


.LabelDiv>p-floatlabel{
    width: 100%;
}
.LabelDiv>p-floatlabel>input{
    margin:0.2%;
    width: 100%;
}
.LabelDiv>p-floatlabel>p-password{
    width: 100%;
}

.Gombok{
    display: flex;
    align-items:end;
    flex-direction: row;
    width: 100%;
}
