<div class="container mt-6 pt-6 pb-6 flex justify-center">
    <p-card class="register-card">
        <ng-template #header>
            <div class="p-card-header">
                <h1>Register</h1>
            </div>
        </ng-template>

        <div class="RegisterDiv mt-4">
            <div class="LabelDiv">
                <p-floatlabel variant="on" class="mb-3 mt-1 w-full">
                    <input pInputText id="username" [(ngModel)]="value1" autocomplete="off" inputStyleClass="w-full" styleClass="w-full" />
                    <label for="username">Username</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="mb-3 mt-3 w-full">
                    <input pInputText id="email" [(ngModel)]="value2" autocomplete="off" inputStyleClass="w-full" styleClass="w-full" />
                    <label for="email">Email</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="mb-3 mt-3 w-full">
                    <p-password [(ngModel)]="value3" inputId="password" inputStyleClass="w-full" styleClass="w-full"/>
                    <label for="password">Password</label>
                </p-floatlabel>
            </div>
        </div>

        <div class="Gombok mt-4">
            <div class="flex justify-center gombDiv">
                <p-button label="Register" size="large"/>
            </div>
        </div>
    </p-card>
</div>
